<div class="row blue-grey lighten-5">
    <div class="col-3 ">
        <br>
        <img src="data:image/png;base64, {{actor.get_profile_pic()}}" alt="" class="img-fluid rounded-circle">
    </div>
    <div class="col-9">
        <br>
        <h4 class="h4-responsive"><a href="{{url_for('actor.get_actor',actor_id=actor.id)}}">{{actor.name}}</a></h4>
            <p>Likes: {{actor.get_likes()}}</p>
            <p class="text-fluid">
                {{actor.bio}}
            </p>
            <p>Age: {{actor.age}} Year</p>
            <p>Industry: <span style="color:blue;">{{actor.industry}}</span></p>
            <p>Born: {{actor.birth_place}}</p>
    </div>
</div>
<br>