{% if rating.review_text %}
<div class="media mb-1">
    <a class="media-left waves-light">
        <img class="rounded-circle" src="https://mdbootstrap.com/img/Photos/Avatars/avatar-13.jpg"
             alt="Generic placeholder image">
    </a>
    <div class="media-body">


        <h4 class="media-heading">{{rating.user.username}}</h4>
        <p>Rating: {{movie.get_users_rating(rating.user_id).rating}}/5 </p>
        <p>
            {{rating.review_text}}
        </p>

    </div>
</div>
<hr>
{% endif %}